.pagination-nav__link {
  border: 1px solid #767676;
  border-radius: 5px;
  display: block;
  height: 100%;
  padding: 10px;
}

.hx-text-gray-500 {
  color: #767676;
  /* color: darkgray; */
}

.dark\:hover\:hx-text-gray-50:hover:is(html[class~='dark'] *) {
  --tw-text-opacity: 1;
  color: #ffffff;
}
